<nav class="navbar navbar-expand-lg bg-light " >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <img src="/assets/denbigh_logo/den_logo.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our School
          </a>

          <ul class="dropdown-menu custom-dropdown"  >
            <li *ngFor="let link of ourSchoolSubMenus">
              <a class="dropdown-item"  (click)="closeMobileMenu()" routerLink={{link.url}}>{{link.label}}</a>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Admissions</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu" *ngFor="let link of admissionsSubMenus">
                  <a class="dropdown-item" href="#">{{link.label}}</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Our Policies</a>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Key Informations</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu" *ngFor="let link of keyInformationSubMenus">
                  <a class="dropdown-item" href=""  (click)="closeMobileMenu()" routerLink={{link.url}}>{{link.label}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Curriculum
          </a>
          <ul class="dropdown-menu slideDown">
            <li *ngFor="let link of ourSchoolSubMenus">
              <a class="dropdown-item" href="#">{{link.label}}</a>
            </li>
          </ul>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Parents
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let link of ourSchoolSubMenus">
              <a class="dropdown-item" href="#">{{link.label}}</a>
            </li>
          </ul>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pupils
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let link of ourSchoolSubMenus">
              <a class="dropdown-item" href="#">{{link.label}}</a>
            </li>
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Safeguarding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Send</a>
        </li>


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">submenu</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">submenu 1.0</a>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">submenu 1.1</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">super submenu 2.0</a></li>
                    <li><a class="dropdown-item" href="#">super submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">super submenu 2.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->

      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
