.navbar-nav li:hover>ul.dropdown-menu{
  display: block;
}

.dropdown-submenu{
  position: relative;
}

.dropdown-submenu>.dropdown-menu{
  top:0;
  margin-top: -5px;
  left: 100%;
}


/* Example CSS for styling centered navbar links */
.navbar-nav.justify-content-center .nav-link {
  font-size: 18px;
  color: #333; /* Change the color as needed */
}

.navbar-nav .nav-link {
  margin-right:40px; /* Adjust the value as needed */
  font-size: 1.2rem;
}

.dropdown-item
{
  font-size: 1.2rem;
  margin-bottom:15px; /* Adjust the value as needed */
}

.dropdown-menu .dropdown-item {
  border-bottom: 1px solid #ccc; /* Adjust the border color and style as needed */
}


/* ======================== */

.nav-item{
  text-transform: upp;
}
