<footer>
  <div class="container-fluid">
   <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <!-- School Logo -->
        <img src="../../assets/denbigh_logo/denbigh-footer-logo-273x300.png" alt="School Logo" class="school-logo">
      </div>
      <div class="col-md-3">
        <h4>Contact Us</h4>
        <p>123 School Street</p>
        <p>City, State ZIP</p>
        <p>Email: info@school.com</p>
        <p>Phone: (123) 456-7890</p>
      </div>
      <div class="col-md-3">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
      <div class="col-md-3">
        <p>&copy; 2023 School Name. All rights reserved.</p>
      </div>
    </div>
   </div>
  </div>
</footer>
