<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Column 1: Logo -->
      <div class="col-md-3 col-sm-12">
        <div class="footer-logo">
          <img class="" [src]="footerLogo" alt="School Logo">
        </div>
      </div>

      <!-- Column 2: School Name and Address -->
      <div class="col-md-3 col-sm-12">
        <h5>Contact Us</h5>
        <ul>
          <li><a>Denbigh Primary School, </a></li>
          <li><a>Denbigh Road, Luton, LU3 1NS</a></li>
          <li><a>01582 571 597</a></li>
          <li><a>01582 494 356</a></li>
          <li><a>admin@denbigh.primaryluton.co.uk</a></li>
        </ul>
      </div>

      <!-- Column 3: Quick Links (Social Links) -->
      <div class="col-md-3 col-sm-12">
        <h5>Quick Links</h5>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>

      <!-- Column 4: Google Map -->
      <div class="col-md-3 col-sm-12">
        <h5>Find Us on Google Map</h5>
        <div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.2039876591625!2d-0.4366428228053079!3d51.89374138240602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48764901c2da162f%3A0x529cad20d11a2701!2sDenbigh%20Primary%20School!5e0!3m2!1sen!2suk!4v1695973196405!5m2!1sen!2suk"
              width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
