<div class="welcome-container">
  <div class="container">
    <!-- First Row -->
    <div class="row">
      <div class="column-30">
        <!-- Add an image to the 30% width column -->
        <img src="../../assets/head-teacher/headteacher-dummy.jpg" alt="Image" style="max-width: 100%; height: auto;">
      </div>
      <div class="column-70">
        <h2> Dear Parents & Carers</h2>
        <div>
          <p> Denbigh Primary School is an exciting and happy place to learn. We are dedicated to excellence
            in all that we do. Our dedication permeates our determination to provide our children with as
            many opportunities and experiences as possible.</p>


          <p>
            Our strong pastoral structure results in positive, caring relationships between our staff, governors
            families and pupils. Working in close partnership with families, we ensure they are fully involved in
            their child’s education and understand how to support their progress.</p>

        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row-2">
      <p>
        On behalf of all the children, staff and Governors we would like to offer you a warm welcome to
        Denbigh Primary School
      </p>




      <p> We have a great deal to be proud of, including the outstanding
        behaviour of our pupils and our national and international
        achievements. Through inspirational educational visits, high-quality
        sports and PE provision, exploration of music and the Arts with
        specialist teachers and a cutting-edge approach to ICT and
        technology, we believe that we provide all of our children with the
        drive and the capability to succeed.</p>

      <p>Our curriculum is inspiring, engaging and thorough; providing all of
        our pupils with the skills, knowledge and understanding to enable
        them to thrive in their academic journey.</p>


<div>
 <h6> Yours faithfully</h6>

      <h6> Mr A Hodges</h6>

      <h6> Headteacher
      </h6>
</div>





    </div>
  </div>


</div>
