/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body {
  padding-top:89px; /* Adjust this value to match your navbar's height */
}

/* .horizontal-line {
  border-top: 8px solid #f10909;

} */


/* remove this later -- Testing Purpose */

.c-item {
  height: 780px;
}

.c-image {
  height: 100%;
  object-fit: cover;
  /* filter: brightness(0.6); */
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.section-1 {
  margin-top: 20px;
  height: 600px;
  background-color: aqua;
}

.section-2 {
  margin-top: 20px;
  height: 600px;
  background-color: rgba(170, 196, 196, 0.678);
}

.section-3 {
  margin-top: 20px;
  height: 600px;
  background-color: rgba(161, 235, 167, 0.678);
}

@media (max-width: 600px) {
  .quick-links {
    display: none; /* Hide the component on mobile screens */
  }
}
