.c-item {
  height: 780px;
}

.c-image {
  height: 100%;
  object-fit: cover;
  /* filter: brightness(0.6); */
}


h3 {
  text-align: center;
  margin-top: 100px;
}

p {
  text-align: center;
}

.section-1 {
  margin-top: 20px;
  height: 600px;
  background-color: aqua;
}

.section-2 {
  margin-top: 20px;
  height: 600px;
  background-color: rgba(170, 196, 196, 0.678);
}

.section-3 {
  margin-top: 20px;
  height: 600px;
  background-color: rgba(161, 235, 167, 0.678);
}

.caption_logo{
  height: 40%;

}

@media (max-width: 600px) {
  .quick-links {
    /* display: none; */
    /* padding-left: 20px;
    padding-right: 20px; */
  }

  .c-item {
    height: 380px;
  }

  .c-image {
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.6); */
  }

  .caption_logo{
    margin-top: 20px;
    height: 40%;

  }

  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
  }

}
