<div>
  <div class="horizontal-line"></div>
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="../../assets/slider_images/1.jpeg " class="d-block w-100 c-image" alt="...">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
          <!-- <p class="mt-20 fs-3 text-uppercase">Denbigh Primary School</p> -->

          <img src="../../assets/denbigh_logo/Denbigh-slider-logo.png" alt="">
          <h3 class="display-1 fw-bolder text-capitalize">Dedicated to excellence.</h3>
          <button class="btn btn-primary">Watch Tour</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="../../assets/slider_images/2.jpg" class="d-block w-100  c-image" alt="...">
      </div>
      <div class="carousel-item c-item">
        <img src="../../assets/slider_images/3.jpg" class="d-block w-100 c-image" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-quick-links class="quick-links "></app-quick-links>

  <div class="section-1">
    <h3>This is Section 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam molestiae recusandae. Iure ipsam
      voluptatum asperiores officiis tenetur optio ad natus sed? Obcaecati aut consequatur officiis necessitatibus modi
      laudantium iste.
    </p>
  </div>

  <div class="section-2">
    <h3>This is Section 3</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam molestiae recusandae. Iure ipsam
      voluptatum asperiores officiis tenetur optio ad natus sed? Obcaecati aut consequatur officiis necessitatibus modi
      laudantium iste.
    </p>
  </div>
  <div class="section-3">
    <h3>This is Section 3</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam molestiae recusandae. Iure ipsam
      voluptatum asperiores officiis tenetur optio ad natus sed? Obcaecati aut consequatur officiis necessitatibus modi
      laudantium iste.
    </p>
  </div>


  <div class="container">
    <app-latest-news></app-latest-news>
  </div>


</div>
